<h1>Sign up here!</h1>
<%= form_for @user do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <%= submit_tag "Sign up!" %>
<% end %>
