<h1> Event! </h1>


<h3>Event: <%= @event.name %></h3>
<h3>Host: <%= @event.creator.name %></h3>
<h3>Date: <%= @event.date %></h3>
<h3>Location: <%= @event.location %></h3>
<h3>Info: <%= @event.description %></h3>

<h4>Attending</h4>
<% @event_attendees.each do |attendee| %>
    <p><%= attendee.name %></p>
<% end %>



<%= form_for(current_user.event_attendees.build(attendee_event_id: @event.id), :html => {class: "just_button"}) do |f| %>
    <%= f.hidden_field :attendee_event_id %>
    <div class="submit">
      <%= f.submit "Attend!" %>
    </div>
<% end %>
