<h1> Event! </h1>


<h2>Event: <%= @event.name %></h2>
<h2>Host: <%= @event.creator.name %></h2>
<h2>Date: <%= @event.date %></h2>
<h2>Location: <%= @event.location %></h2>
<h2>Info: <%= @event.description %></h2>



