<h1> Event! </h1>


<h3>Event: <%= @event.name %></h3>
<h3>Host: <%= @event.creator.name %></h3>
<h3>Date: <%= @event.date %></h3>
<h3>Location: <%= @event.location %></h3>
<h3>Info: <%= @event.description %></h3>



