<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session[:current_user_id] %>
        <% @current_user = User.find(session[:current_user_id]) %>
    <% end %>

    <nav>
      <ul>
        <% if @current_user %>
            <li><%= link_to "Your events", user_path(current_user)  %></li>
            <li><%= link_to "Make an event", new_event_path %></li>
            <li><%= link_to "All events", events_path %></li>
            <li><%= link_to "Log out", logout_path, method: "delete" %></li>
        <% else %>
            <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
    <% if @current_user %>
      <p> Logged in as <%= @current_user.name %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
